<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Iniciar Sesión</h1>
    {% if mensaje %}
        <p>{{ mensaje }}</p>
    {% endif %}
    <form action="{{ url_for('login') }}" method="post">
        <label for="txtCorreo">Correo Electrónico:</label>
        <input type="email" id="txtCorreo" name="txtCorreo" required>
        <label for="txtPassword">Contraseña:</label>
        <input type="password" id="txtPassword" name="txtPassword" required>
        <button type="submit">Ingresar</button>
    </form>
    <p>¿No tienes cuenta? <a href="{{ url_for('registro') }}">Registrarse</a></p>
</body>
</html>
